@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

#cap-os-barcode-scanner-container-dialog {
	z-index: 1201 !important;
	top: 140px;
	background-color: transparent;
}

#cap-os-barcode-scanner-container-dialog .scanner-dialog-inner {
	border: 0;
}

#cap-os-barcode-scanner-container-dialog .close-button {
	display: none;
}
